.form_inner {
    padding: 20px 0;
    border-radius: 0.25rem;
}
.form_wrap {
    padding: 1rem;
}

#submit {
    width: 100%;
}
.form_label {
    font-weight: 500;
    color: #4b5563;
    margin-top: 30px;
}
.form__group {
    position: relative;
    margin-bottom: 32px !important;
}
.error {
    position: absolute;
    color: red;
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    bottom: -25px;
}
.error_true {
    visibility: visible;
    opacity: 1;
}
.annouce_verify-wrap {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    gap: 20px;
    border-radius: 0.25rem;
    align-items: center;
    margin-top: 1rem;
    background-color: #ecdecb;
}
.annouce_verify-wrap_true {
    transition: 1s;
    visibility: visible;
    opacity: 1;
    position: relative;
}
.annouce_warning-img {
    width: 50px;
}
.annouce_verify {
    font-size: 1rem;
    color: #5a3e07;
}
