<main class="container">
    <div class="row gy-4">
        <div class="col-12 col-xxl-4 col-lg-5">
            <div class="navbar">
                <img src="/images/icons/admin.png" alt="Profile" />
                <h2>Webshop Website</h2>
                <a href="/admin/viewaccount">
                    <img
                        src="/images/icons/viewaccount.png"
                        alt="Account Icon"
                    />
                    View Account
                </a>
                <a href="/admin/viewcatemanu">
                    <img src="/images/icons/categories.png" alt="About Icon" />
                    View Categories and Manufacturers
                </a>
                <a href="/admin/product">
                    <img src="/images/icons/product.png" alt="Services Icon" />
                    Create And Update Products
                </a>
                <a href="/admin/vieworder">
                    <img src="/images/icons/order.png" alt="Portfolio Icon" />
                    View Orders
                </a>
                <a href="/admin/viewrevenue">
                    <img src="/images/icons/revenue.png" alt="Contact Icon" />
                    View Revenue
                </a>
            </div>
        </div>
        <div class="col-12 col-xxl-8 col-lg-7">
            <div class="content">
                <h1>Welcome to Webshop Website</h1>
                <p>The admin panel serves as the core management interface for
                    the website. Administrators are responsible for overseeing
                    user activities, maintaining system integrity, and ensuring
                    compliance with policies. They manage content updates,
                    resolve user issues, and safeguard data to create a secure
                    and efficient platform for all users.</p>
            </div>
        </div>
    </div>
</main>