<main>
    <div class="container__error">
        <h1>Account Banned</h1>
        <p>Your account has been banned due to violations of our terms.</p>
        <button onclick="redirectToHome()">Go to Home Page</button>
    </div>
</main>
<script src="/js/ban.js"></script>