<section class="w-full max-w-md mx-auto p-6">
    <div
        class="form_inner mt-7 mb-7 bg-white rounded-xl shadow-lg dark:bg-gray-800 dark:border-gray-700 border-2 border-indigo-300"
    >
        <div
            class="form_wrap w-full p-6 bg-white rounded-lg md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
        >
            <h2
                class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
            >
                Change Password
            </h2>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="#">
                <div class="form__group">
                    <label
                        for="password"
                        class="form_label block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >New Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required=""
                    />
                    <p class="error error_password">Err: </p>
                </div>
                <div class="form__group" style="margin-top: 45px;">
                    <label
                        for="confirm-password"
                        class="form_label block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Confirm password</label>
                    <input
                        type="password"
                        name="confirm-password"
                        id="confirm-password"
                        placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required=""
                    />
                    <p class="error error_confirm-password">Err: </p>
                </div>

                <button
                    type="submit"
                    id="submit"
                    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                >Reset passwod</button>
                <div class="annouce_verify-wrap">
                    <img
                        class="annouce_warning-img"
                        src="/images/icons/annouce_warning.png"
                        alt=""
                    />
                    <p class="annouce_verify"></p>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="/js/reset_password.js"></script>